:root {
	--WPMODEVSTARTER-color-dark-blue: #112639;
	--WPMODEVSTARTER-color-hover-dark-blue: #0c1c2a;
	// --WPMODEVSTARTER-color-turkis: #00A889; NY TURKIS
	--WPMODEVSTARTER-color-turkis: #18bc9c;

	--WPMODEVSTARTER-color-hover-turkis: #00977b;
	--WPMODEVSTARTER-color-dark-turkis: #00664b;
	--WPMODEVSTARTER-color-disabled: #c4c4c4;
	--WPMODEVSTARTER-color-grey: #e7e9eb;

	--WPMODEVSTARTER-font-color: #000000;
	--WPMODEVSTARTER-font-baseline: 16px;

	--WPMODEVSTARTER-site-maxwidth: 1140px;
	--WPMODEVSTARTER-site-padding: 1rem;

	// Media queries
	--WPMODEVSTARTER-mobile-menu: 64rem;
	--WPMODEVSTARTER-mediaquery-medium: 48.9375rem;
	--WPMODEVSTARTER-mediaquery-small: 37.5625rem;
}

$WPMODEVSTARTER-mediaquery-large: 64rem;
$WPMODEVSTARTER-mediaquery-medium: 48.9375rem;
$WPMODEVSTARTER-mediaquery-small: 37.5625rem;

@media (min-width: $WPMODEVSTARTER-mediaquery-small) {
	:root {
		--WPMODEVSTARTER-site-padding: 1.5rem;
	}
}

@media (min-width: $WPMODEVSTARTER-mediaquery-medium) {
	:root {
		--WPMODEVSTARTER-site-padding: 3rem;
	}
}
